@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("Categories")
    </div>
    <div class="col-md-9">
        <div class="row g-3">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("_ProductPartial", product)
                </div>
            }
        </div>
    </div>
</div>