#pageTitle
{
    background-color: darkolivegreen;
}

#pageSubTitle
{
    background-color: tomato;
}

.title
{
    padding: 10px;
    color: white;
}

h1
{
    font-size: 30px;
    font-family: cursive;
}

h2
{
    font-family: cursive;
}